.box
  .col-md-6
    h4.text-center Ваш портфель
    hr
    .stocks
      .row
        - if current_user.stocks.size == 0
          strong.center Необходимо добавить акции в портфель.
        - else
          - current_user.stocks.each_with_index do |stock, index|
            .col-md-4
              strong
                = stock.title
              hr
              p
                | bid:
                = @data[index].bid
              p
                | change:
                = @data[index].change
              p
                | % change:
                = @data[index].change_in_percent
              = link_to "Убрать", user_delete_stock_path(current_user, stock_id: stock.id), class: "btn btn-xs btn-default delete_stock"
              hr
  .col-md-6
    h4.text-center Выбрать акции
    hr
    = form_tag user_add_stocks_path(current_user), method: "PUT" do
      - Stock.all.each do |stock|
        .col-md-4
          .form-group
            = label_tag stock.title, stock.title.upcase
            = check_box_tag 'stock_ids[]', stock.id, current_user.stocks.include?(stock), { multiple: true }
      = submit_tag 'Добавить в портфель', class:"add_stocks"
.row
  .col-md-12.graphic
    h4.text-center Стоимость портфеля за 2 года.
    hr
    = line_chart(StocksGraph.new(user_stocks_title).two_year_graphic)
