.box{
  height: 350px;
  position: relative;
}
.delete_stock{
  margin-left: 15px;
}
li span{
  width: 40px;
}
label{
  margin: 5px !important;
}

.stocks{
  border-right: 1px dashed black;
}
.graphic{
  margin-top: 40px;
}

input.add_stocks{
  margin: 50px 0 0 150px;
}
.center{
  margin: 0 27%;
}
