<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Добавить акции', new_stock_path %></li>
  <li><%= link_to 'Портфель акции', current_user %></li>
  <li><%= link_to 'Редактировать аккаунт', edit_user_registration_path %></li>
  <li><%= link_to 'Выход', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Вход', new_user_session_path %></li>
  <li><%= link_to 'Регистрация', new_user_registration_path %></li>
<% end %>
